node_modules
.env*.local
.env

# Next.js build output
.next
out

# VS Code settings
.vscode/*
!.vscode/settings.json

# Mac system files
.DS_Store
._*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Supabase local dev env file
supabase/.env
.vercel
